.container {
  max-width: 1000px;
  padding: 0 20px;
  h1 {
    font-size: 3.5em;
    font-weight: 800;
  }
  mat-form-field {
    width: 100%;
  }
  mat-list {
    width: 100%;
    mat-list-item {
      height: auto;
      font-family: inherit;
    }
    app-repo {
      width: 100%;
      overflow-x: hidden;
    }
  }
  .spinner {
    mat-spinner {
      margin: 50px auto;
    }
  }
}

