<div id="sidenav" fxLayout="column" fxLayoutAlign="start stretch">
<header fxFlex="none">
      <img src="../../assets/images/myphoto.png" alt="My photo">
      <h1 class="white-text">Mihail Golban</h1>
      <p>Developer</p>
</header>
<div class="about">
  <p>Hi everyone! I'm glad to see you here. This is my personal site where you'll find all my projects. 
    If you have time, check out my <a href="https://github.com/mihailgolban" target="_blank">GitHub</a> repository.</p>
  <p>WHAT I DO EXACTLY? I do web and cross-platform mobile applications.</p>
  <p>In my spare time, I take online classes to improve my English skills. I also watch movies and play table tennis</p>
  <p>Feel free to send me an <a href="mailto:mihaillgolban@gmail.com">email</a>. I'll get back to you as soon as possible.</p>
</div>
<div fxFlex="1 1 auto"></div>
<footer fxFlex="none">
    <section class="contact">
    <h3 id="contact-title">Connect with me</h3>
    <ul>
      <li *ngFor="let socialIcon of socialIcons">
        <a href="{{socialIcon.link}}" target=”_blank”><mat-icon svgIcon="{{ socialIcon.icon }}"></mat-icon></a></li>
    </ul>
    <div id="copyright"><p>2018 © Mihail Golban</p></div>
  </section>
</footer>
</div>
