<mat-card>
  <h4 class="repository-creation-date">{{ created_at() }}</h4>
  <div class="repo" fxLayout="row" fxLayoutAlign="space-between stretch">
    <div>
        <h3 class="repo-name">{{ repo['name'] }}</h3>
        <p class="repo-description">{{ repo['description'] }}</p>
        <p class="repo-languages"><span *ngFor="let language of languages"><mat-icon [ngStyle]="{'color': language.color }" svgIcon="circle-medium"></mat-icon>{{ language.name }}</span></p>
    </div>
    <div>
      <p class="repo-stars"><mat-icon svgIcon="star"></mat-icon>{{ repo['stargazers_count'] }}</p>
      <p class="repo-forks"><mat-icon svgIcon="source-fork"></mat-icon>{{ repo['forks_count'] }}</p>
      <a class="repo-source" mat-raised-button href="{{ repo['html_url']}}" target="_blank"><mat-icon svgIcon="github-circle"></mat-icon>View on Github</a>
    </div>
  </div>
</mat-card>
