/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,600');

body {
  font-family: 'Open Sans', sans-serif, Arial;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
